venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pyzwzwzwz
.gitignore
*.wav
*mp4
speaker_separator_config.json
record_control\
speaker_separator_env\

