venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pyzwzwzwz
*.wav
*mp4
.coverage
coverage.xml
htmlcov/

tests/logs/
tests/manifests/
tests/model/
tests/labels/
tests/audio_chunks/
tests/ggml_model/
tests/test_audio/